@using MyCheeseShop.Model
@using MyCheeseShop.Components
@using MyCheeseShop.Context
@inject CheeseProvider CheeseProvider

<div class="card-group">
    <div class="card gy-3 m-1">
        <img src="imgs/@Cheese.ImageUrl" class="card-img-top" alt="@Cheese.Name">
    <div class="card-body">
      <h5 class="card-title">@Cheese.Name</h5>
      <p class="card-text">@Cheese.Description</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<EditForm Model="quantity" OnSubmit="AddToCart">

</EditForm>

@code {

    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        
    }

}



